.flex
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.principal
{
  width: 100%;
  height: 90vh;
  min-height: 70px;
}
.botao
{
  cursor: pointer;
  width: auto;
  min-width: 100px;
  height: 40px;
  color: black;
  background-color: rgb(95, 204, 255);
  border-radius: 25px;
}
.botao > a
{
  text-decoration: none;
  color: black;
}
.botao:hover a,
.botao:hover
{
  letter-spacing: 2px;
  text-decoration: underline;
  transition: 1s;
}
.inverter_column
{
  flex-direction: column;
}
form
{
  width: 50%;
  font-size: 30px;
}
.botao_submit
{
  cursor: pointer;
  width: 100px;
  height: 40px;
  color: black;
  background-color: rgb(73, 97, 238);
  border-radius: 25px;
}
.botao_submit:hover
{
  text-decoration: underline;
  width: auto;
}
input,
option,
select
{
  height: 25px;
  border-radius: 25px;
  font-size: 20px;
}
table td
{
  border: 2px solid black;
}
table
{
  border: 1px solid black;
  border-collapse: collapse;
}
